body {
    background-color: #f2f2f2;
    font-family: Arial, sans-serif;
    text-align: center;
    padding-top: 60px;
}

h1 {
    color: #333333;
    font-size: 36px;
}

p {
    color: #555555;
    font-size: 18px;
    margin: 20px 0;
}

button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

@media screen and (min-width:600px){
    body{
        background-color: lightblue;
    }
}